export PHX_HOST=
export PHX_CHECK_ORIGIN=
export SECRET_KEY_BASE=GC8nGQ3AtVl1NJAmnMvfIh23rJchYG+BUpQOw4/NvBFnGfYeNUC/sZEsmuK5UYo4
export DB_USERNAME=postgres
export DB_PASSWORD=postgres
export DB_HOSTNAME=postgres
export DB_DATABASE=pokr

export DEPLOY_SSH_USER=
export DEPLOY_SSH_HOST=
export DEPLOY_TAR_PATH=/tmp/pokr-backend.tar
