[Unit]
Description=pokr 2.0 backend
After=network-online.target

[Service]
WorkingDirectory=
ExecStart=_build/prod/rel/pokr/bin/pokr start
Restart=always
RestartSec=30
SyslogIdentifier=pokr-backend
User=jan
Environment=PHX_HOST=
Environment=SECRET_KEY_BASE=
Environment=SSL_KEY_PATH=
Environment=SSL_CERT_PATH=
Environment=DB_USERNAME=
Environment=DB_PASSWORD=
Environment=DB_HOSTNAME=
Environment=DB_DATABASE=

[Install]
WantedBy=multi-user.target